@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fira+Code:wght@300&display=swap');

* {
	margin: 0;

	color: #dddddd;
}

::selection {
	color: #dddddd;
	background-color: #5555ff;
}

nav {
	font-family: 'Comfortaa', cursive;
	background-color: #1b1b1bfb;
	backdrop-filter: blur(8 px);
	padding: 1em;
	width: 100%;

	position: fixed;
}

.landing {
	background-color: #222222;
	color: #dddddd;

	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.landing img {
	margin: 1em;

	height: 15em;

	border-radius: 5em;
}

.landing h1 {
	font-family: 'Fira Code', monospace;

	margin: 1em;
}

.blinking {
	white-space: nowrap;
	overflow: hidden;
	animation: blinkingLine 1s infinite;
}

@keyframes blinkingLine {
	from,
	to {
		border-right: 3px solid transparent;
	}

	50% {
		border-right: 3px solid #dddddd;
	}
}

.terminal {
	font-family: 'Fira Code', monospace;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	background-color: #1b1b1b;
	color: #dddddd;

	border-radius: 1em;

	min-width: 25%;
	max-width: 95%;
}

.terminal p {
	padding: 1em;
}

.terminal .toolbar {
	background-color: #3f3f3f;

	padding: 0.5em;
	border-radius: 1em 1em 0 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.toolbar p {
	padding: 0;
}

.terminal-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.contacts {
	font-family: 'Comfortaa', cursive;

	padding: 1em;

	display: flex;
}

.contacts img {
	width: 2.5em;
}

#qrcode img {
	border: solid #ffffff;
	border-width: 0.5em;
	border-radius: 0;
}

@media only screen and (min-device-width: 480px) {
	.contacts {
		position: fixed;

		height: 95%;
		bottom: 0;

		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}

@media only screen and (max-device-width: 480px) {
	.contacts {
		background-color: #1b1b1b;

		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
