@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

:root {
	--white: #e8e3e3;
	--gray: #424242;
	--black: #151515;
	--green: #8c977d;
}

* {
	margin: 0;

	font-family: 'JetBrains Mono', monospace;

	color: var(--white);
}

::selection {
	color: var(--white);
	background-color: var(--green);
}

.landing {
	background-color: var(--black);
	color: var(--white);

	width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly
}

.user-img {
	height: fit-content;
	max-height: 20em;
	border-radius: 7.5em;
}

.landing h1 {
	color: var(--green);
}

.nickName {
	color: var(--gray);
}

.info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
}

.blinking {
	width: min-content;

	white-space: nowrap;
	overflow: hidden;
	animation: blinkingLine 1s infinite;
}

@keyframes blinkingLine {
	from,
	to {
		border-right: 3px solid transparent;
	}

	50% {
		border-right: 3px solid var(--white);
	}
}
